<!-- <p>home works!</p> -->
<body>
    <!-- Toolbar -->
    <mat-toolbar color="primary">
        <span>Bienvenidos a la WebApp ISFT 220</span>
        <span class="example-spacer"></span>
        <!-- ABAJO DE ESTA LINEA VAN LOS BOTONES PARA CERRAR SESION -->
        <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
            <mat-icon>menu</mat-icon>
        </button>
        <!-- ENCIMA DE ESTA LINEA VAN LOS BOTONES PARA CERRAR SESION -->
    </mat-toolbar>
    <!-- Fin Toolbar -->

    <!-- Botones Principales -->
    <section class="container">
        <button mat-raised-button color="primary" class="btn-p">ClassRoom</button>
        <button mat-raised-button color="primary" class="btn-p">Biblioteca</button>
        <button mat-raised-button color="primary" class="btn-p">Inscripcion a Finales</button>
        <button mat-raised-button color="primary" class="btn-p">Redes Sociales</button>
    </section>
    <!-- DEBAJO DE ESTA LINEA VA UNA PAGINA BLANCA CON DATOS NUESTROS QUE LINKEAN A NUESTRAS REDES-->
    <section>
        <p class="parrafo-home">WebApp Diseñada y Desarrollada por <a href="#" class="linkedin"> alumnos de 3° Año de Desarrollo de Software 2023</a></p>
    </section>
    <!-- ENCIMA DE ESTA LINEA VA UNA PAGINA BLANCA CON DDATOS NUESTROS QUE LINKEAN A NUESTRAS REDES -->
    <!-- Fin Botones Principales -->
</body>

